$main-black: #001410;
$main-green: #70ce00;

$main-font-family: 'helvetica-neue-light';
$main-font: 14px/16px $main-font-family;
$main-menu-font: 17px/19px $main-font-family;
$main-footer-font: 14px/19px $main-font-family;

$menu-item-color: white;

$layout-width: 956px;

$path-to-images: '../../images';

$search-color: #3f3f3f;

$footer-menu-color: #8d9291;
